/* background color and font style for body content */
body {
    background-color: rgb(155, 229, 252);
    font-family: 'Merriweather Sans', sans-serif;
}

/* font styling for weather dashboard text */
h3 {
    font-weight: bold;
    font-size: 2em;
}

/* font color and margin for search city header */
h4 {
    color: rgb(1, 1, 56);
    margin-top: 30px;
}

/* form input text color */
input {
    color: rgb(1, 1, 56);
}

/* header background color */
header {
    background-color: rgb(3, 171, 223);
}

/* button styling */
.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 75%;
  display: block;
  margin: 5px 0;
  border-radius: 0.2rem;
  color: rgb(1, 1, 56);
  border: none;
  outline: none;
  background-color: white;
  transform: translate(-1px, -1px);
}

/* clear button styling */
.clr-btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 75%;
  display: block;
  border-radius: 0.2rem;
  color: rgb(1, 1, 56);
  border: none;
  outline: none;
  background-color: white;
  transform: translate(-1px, -1px);
}

/* clear button hover styling */
.clr-btn:hover {
  color: rgb(1, 1, 56);
  background-color: #156da8;
  transform: translate(0, 0);
}

/* button hover styling */
.btn:hover {
  color: rgb(1, 1, 56);
  background-color: #156da8;
  transform: translate(0, 0);
}

/* form input styling */
.form-input {
  width: 75%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 1px solid rgb(221, 218, 218);
  border-radius: 0.2rem;
  display: block;
}

/* styling for favorable UV index conditions */
.favorable {
  background-color: rgb(29, 235, 29);
  padding: 2px 6px;
  border-radius: 0.2em;
}

/* styling for moderate UV index conditions */
.moderate {
  background-color: yellow;
  padding: 2px 6px;
  border-radius: 0.2em;
}

/* styling for severe UV index conditions */
.severe {
  background-color: rgb(252, 61, 61);
  padding: 2px 6px;
  border-radius: 0.2em;
}

/* Adding padding to the left of the search content */
.city-search {
  padding-left: 54px;
}

/* styling and positioning for today's forecast content */
.city-today {
  text-align: center;
  line-height: 30px;
  color: rgb(1, 1, 56);
  margin-top: 30px;
}

/* today's date text styling and size */
#cityCurrentdate {
    font-weight: bold;
    font-size: 1.5em;
}

/* add padding to the top of the search history buttons */
.cities-saved {
  padding-top: 30px;
}

/* 1 day forecast card styling and positioning */
.day1 {
  margin-right: 15px;
  padding: 0px;
  line-height: 30px;
  border: 2px solid rgb(3, 171, 223);
  border-radius: 0.2em;
  color: rgb(1, 1, 56);
  margin-top: 33px;
  background-color: rgb(3, 171, 223);
  font-weight: bold;
}

/* 2 day forecast card styling and positioning */
.day2 {
  margin-right: 15px;
  padding: 0px;
  line-height: 30px;
  border: 2px solid rgb(3, 171, 223);
  border-radius: 0.2em;
  color: rgb(1, 1, 56);
  margin-top: 33px;
  background-color: rgb(3, 171, 223);
  font-weight: bold;
}

/* 3 day forecast card styling and positioning */
.day3 {
  margin-right: 15px;
  padding: 0px;
  line-height: 30px;
  border: 2px solid rgb(3, 171, 223);
  border-radius: 0.2em;
  color: rgb(1, 1, 56);
  margin-top: 33px;
  background-color: rgb(3, 171, 223);
  font-weight: bold;
}

/* 4 day forecast card styling and positioning */
.day4 {
  margin-right: 15px;
  padding: 0px;
  line-height: 30px;
  border: 2px solid rgb(3, 171, 223);
  border-radius: 0.2em;
  color: rgb(1, 1, 56);
  margin-top: 33px;
  background-color: rgb(3, 171, 223);
  font-weight: bold;
}

/* 5 day forecast card styling and positioning */
.day5 {
  margin-right: 15px;
  padding: 0px;
  line-height: 30px;
  border: 2px solid rgb(3, 171, 223);
  border-radius: 0.2em;
  color: rgb(1, 1, 56);
  margin-top: 33px;
  background-color: rgb(3, 171, 223);
  font-weight: bold;
}
